<div class="row mt-3">
  <div class="col-4">
    <div class="form-group">
      <p-calendar
        [(ngModel)]="rangeDates"
        selectionMode="range"
        dateFormat="dd/mm/yy"
        [yearNavigator]="true"
        yearRange="2000:2030"
        [readonlyInput]="true"
        placeholder="Выберите интервал"
        (onClose)="onClosePanel()"
        [locale]="ru"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%', opacity: rangeDates ? '1' : '0.5' }"
      ></p-calendar>
    </div>
  </div>
</div>
