:host {
  padding-bottom: 10px;
  display: block;

  ::ng-deep .ui-placeholder {
    opacity: 0.5;
  }
}

// :host {
//   ::ng-deep .ui-placeholder {
//     opacity: 0.5;
//   }
// }

// .ui-placeholder {
//   opacity: 0.5;
// }